.messageBox {
	position: fixed;
	bottom: 0;
	justify-content: center;
	align-items: center;
	display: flex;
	width: 100%;
	height: 10%;
	background-color: rgba(255, 255, 255, 0);
	/* margin: -5px; */
}

.messageInputBox {
	width: 85.25%;
	/* height: 50%; */
	border: 1px solid #27213c;
}

.chatSendButton {
	border: 1px solid #27213c;
	/* height: 50%; */

}

.messageWindow {
	overflow-y: scroll;
	border: 1px solid #27213c;
	display: flex;
	width: 90%;
	/* height: 600px; */
	height: 92vh;
	flex-direction: column;
	padding: 5px 10px 5px 5px;
}

.chatDisplay {
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: 5px;
}

.messageForm {
	margin-top: 5px;
}
